/*.page-elements{
  width: max-content;
  margin: 0 auto;
}*/

body {
  background-color: #171717;
}
@font-face {
  font-family: Gilam;
  src: url("../font/Gilam/GilamHeavy.otf");
}
@font-face {
  font-family: Gilam-ThinItalic;
  src: url("../font/Gilam/GilamDemo-ThinItalic.otf");
}
@font-face {
  font-family: Circe;
  src: url("../font/Circe/Circe-Regular.ttf");
}
.img-infrastructure {
  width: 13.5rem;
  height: 2.063rem;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
  width: 216px;
  height: 50px;
}
.header-menu a {
  text-decoration: none;
  color: #e4b564;
  font-family: Circe;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.vector {
  margin-right: 10px;
}
main h1 {
  font-family: Gilam;
  font-weight: 500;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 128px;
}
.infrastructure-company {
  font-family: Gilam;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-top: 41px;
}
.grid-infrastructure div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.grid-infrastructure {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  margin-top: 40px;
}
.excavation {
  grid-column: span 2;
  height: 468px;

  background-color: #634f2c;
}
.underground-piping {
  grid-column: span 2;
  height: 468px;

  background-color: #b4a385;
}
.channel-arrangement {
  grid-column: span 2;
  height: 468px;

  background: #e4b564;
}
.stationary-supports {
  grid-column: span 3;
  background-color: #635a4a;
}
.concrete-wells {
  grid-column: span 3;
  background-color: #b08c4d;
}
.grid-machinery div {
  display: flex;
  justify-content:center;
  align-items: center;
  color: #ffffff;
}
.grid-machinery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 25px;
  margin-top: 40px;
}
.grid-machinery > div {
  width: 100%;
}
.sludge-machine {
  background-color: #0e0e0e;
  grid-row: 4 span;
  height: 365px;
}
.sewer-washing-machine {
  background-color: #242424;
  grid-row: 5 span;
  height: 464px;
}
.backhoe-loader {
  background-color: #1f1f1f;
  grid-row: 3 span;
  height: 267px;
}
.loader {
  background-color: #1f1f1f;
  grid-row: 6 span;
  height: 560px;
}
.excavator {
  background-color: #e4b564;
  grid-row: 5 span;
  height: 461px;
}
.kamaz {
  background-color: #0e0e0e;
  grid-row: 4 span;
  height: 364px;
}
.skating {
  background-color: #0a0909;
  grid-row: 3 span;
  height: 263px;
}
footer{
  background-color: #0E0E0E;
  margin-top: 210px;
}
.footer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
}
.footer-title a {
  text-decoration: none;
  color: #e4b564;
  font-family: Circe;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 1px solid #e4b564;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h1{
  font-family: Gilam;
  font-weight: 500;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.grid-clients{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 70px;
}
.eid {
  background-color:#634F2C ;
}
.mavis {
  background-color: #E8D2AB;
  display: flex;
  flex-direction: column;
}
.mavis > p{
  color: #FFFFFF;
  width: 326px;
  height: 140px;
}
.arsenal {
  background-color:#E4B564 ;
}
.second-arsenal {
  background-color: #635A4A;
}
.set-group {
  background-color:#B08C4D ;
}
.second-eid {
  background-color:#634F2C ;
}
.grid-clients > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 391px;
}
